<!DOCTYPE html>
<html>
<head>
<title>Welcome to Obscure Ghosts!</title>
<link rel="stylesheet" href="./static/styles/font/stylesheet.css">
<link rel="stylesheet" href="./static/styles/common.css">
<link rel="stylesheet" href="./static/styles/header.css">
<link rel="stylesheet" href="./static/styles/footer.css">
<link rel="stylesheet" href="./static/styles/fades.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="./static/scripts/ghosts.js"></script>
<style>
    body {
        width: 35em;
        margin: 0 auto;
        font-family: optimusprincepsregular, Tahoma, Verdana, Arial, sans-serif;
    }
</style>
</head>
<body>
  <img src="./static/images/deathscreen.png" class="fadeinlose">
  <img src="./static/images/victoryscreen.png" class="fadeinlose">
  <!-- Trigger/Open The Modal -->
  <button id="myBtn">Open Modal</button>

  <!-- The Modal -->
  <div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
      <span class="close">&times;</span>
      <p>Some text in the Modal..</p>
    </div>

  </div>

  <h1>Welcome to Obscure Ghosts!</h1>


  <p><em>Thank you for using Obscure Ghosts.</em></p>

  <input id="email" placeholder="Enter Holberton email">
  <input id="passwd" type="password" placeholder="Enter password">
  <input id="apiKey" placeholder="Enter API key">
  <button id="authSubmit" type="submit">Submit</button>
  <br>
  <input id="projectUrl" placeholder="Please enter the project URL">
  <button id="projectSubmit" type="submit">Submit</button>
  <div id="projectTasks">
  </div>
</body>
</html>
