<!DOCTYPE html>
<html>
<head>
<title>Welcome to Obscure Ghosts!</title>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="./static/styles/font/stylesheet.css">
<link rel="stylesheet" href="./static/styles/header.css">
<link rel="stylesheet" href="./static/styles/footer.css">
<link rel="stylesheet" href="./static/styles/fades.css">
<link rel="stylesheet" href="./static/styles/common.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="./static/scripts/ghosts.js"></script>
</head>
<body>
  <img src="./static/images/deathscreen.png" id="fadeinlose" style="display: none">
  <img src="./static/images/victoryscreen.png" id="fadeinwin" style="display: none">
  <!-- Trigger/Open The Modal -->
  <!-- <button id="myBtn">Open Modal</button> -->

  <!-- The Modal -->
  <div id="myModal" class="modal">
    <audio id="opening" autoplay preload="auto">
      <source src="./static/audio/BareMountain.mp3" type="audio/mpeg">
	Your browser does not support the audio element.
    </audio>
    <!-- <<img src="static/images/greencheck.png"> -->
    <!-- Modal content -->
    <div class="modal-content w3-animate-fading">
      <!-- <span class="close">&times;</span> -->
      <p class="strikeout">Obscure Ghosts</p>
    </div>

  </div>
  <h1>Welcome to Obscure Ghosts!</h1>


  <input id="email" placeholder="Enter Holberton email">
  <input id="passwd" type="password" placeholder="Enter password">
  <input id="apiKey" placeholder="Enter API key">
  <button id="authSubmit" type="submit">Submit</button>
  <br>
  <input id="projectUrl" placeholder="Please enter the project URL" style="display: none">
  <button id="projectSubmit" type="submit" style="display: none">Submit</button>
  <div id="projectTasks">
  </div>
</body>
<script src="./static/scripts/modal.js"></script>
</html>
