@charset "UTF-8";

html {
    position: relative;
    min-height: 100%;
    color: #DDDDDD;
    background-color: #000000;
}

input {
    background-color: #000000;
    color: #DDDDDD;
    border-color: transparent transparent #DDDDDD transparent;
    margin: 3px;
    text-align: center;
}

input:focus{
    background: radial-gradient(circle, rgba(224,171,13,1) 0%, rgba(252,70,107,0) 100%);
}

button {
    border-color: #96791A;
    background-color: #333333;
    color: #EEEEEE;
    padding: 10px;
}

.checkSubmit {
    width: 100%
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100vh;
    margin: 0 auto;
    padding: 0;
    font-size: 14px;
    width: 35em;
    font-family: optimusprincepsregular, Tahoma, Verdana, Arial, sans-serif;
}

main {
    flex-grow: 1;
    flex-shrink: 0;
}

div.container {
    max-width: 1000px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

div.checksContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.loading {
    justify-self: center;
    background: url('../images/loading_animation.gif') no-repeat center;
    background-size: 250px 250px;
    height: 250px;
    width: 250px;
    margin: 20px auto 20px auto;
    border-radius: 10%;
}

.passCheck {
    background: url('../images/greencheck2.png') no-repeat center;
    background-size: 100px 100px;
    height: 100px;
    width: 100px;
    margin: 10px;
    border-radius: 10%;
}

.failCheck {
    background: url('../images/redcheck2.png') no-repeat center;
    background-size: 100px 100px;
    height: 100px;
    width: 100px;
    margin: 10px;
    border-radius: 10%;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    background: url("./static/images/Ghost.png" no-repeat center);
}
.strikeout {
    font-size: 5em;
    line-height: 1em;
    position: relative;
}
.strikeout::after {
    border-bottom: 0.0225em solid white;
    content: "";
    left: 0;
    margin-top: calc(0.125em / 2 * -1);
    position: absolute;
    right: 0;
    top: 48%;
}
/* Modal Content/Box */
.modal-content {
    background-color: #000000;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    /* font-size: 60px; */
    color: white;
    text-align: center;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
h1 h2 h3 h4 h5 h6 {
    font-family: optimusprincepsregular, Tahoma, Verdana, Arial, sans-serif;
    text-align: center;
}
