@charset "UTF-8";

html {
    position: relative;
    min-height: 100%;
    color: #DDDDDD;
    background-color: #111111;
}

input {
    background-color: #111111;
    color: #DDDDDD;
    border-color: transparent transparent #DDDDDD transparent;
    margin: 3px;
    text-align: center;
}

input:focus{
    background: radial-gradient(circle, rgba(224,171,13,1) 0%, rgba(252,70,107,0) 100%);
}

button {
    border-color: #96791A;
    background-color: #333333;
    color: #EEEEEE;
    padding: 10px;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100vh;
    margin: 0 auto;
    padding: 0;
    font-size: 14px;
    width: 35em;
    font-family: optimusprincepsregular, Tahoma, Verdana, Arial, sans-serif;
}

main {
    flex-grow: 1;
    flex-shrink: 0;
}

div.container {
    max-width: 1000px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

div.checksContainer {
    display: flex;
    align-items: space-around;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.loading {
    background: url('../images/Ghost.png') no-repeat center;
    height: 50px;
    width: 50px;
}

.passCheck {
    background: url('../images/greencheck.jpg') no-repeat center;
    height: 50px;
    width: 50px;
}

.failCheck {
    background: url('../images/redcheck.png') no-repeat center;
    height: 50px;
    width: 50px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    /* background: url("./static/images/Ghost.png" no-repeat center); */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
